{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "js": "true"
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "cypress", "prettier"],
  "rules": {
    "eqeqeq": "error",
    "no-empty-function": "error",
    "no-alert": "warn",
    "no-console": "warn",
    "no-return-await": 1,
    "semi-style": ["error", "last"],
    "no-var": "error",
    "semi": "error",
    "no-undefined": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "object-shorthand": [
      2,
      "always",
      {
        "ignoreConstructors": false,
        "avoidQuotes": false
      }
    ],
    "consistent-return": 0,
    "prefer-destructuring": [
      2,
      { "array": false, "object": false },
      { "enforceForRenamedProperties": false }
    ],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "function-call-argument-newline": 0,
    "function-paren-newline": 0,
    "prefer-spread": 0,
    "quotes": ["error", "double", { "avoidEscape": true }]
  }
}
